.card {
  margin: 0;
}

.card__image {
  margin: 0;
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0%;
  padding: 10px;
  height: 24px;
  font-family: "Poppins-Regular";
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 413px;
}

.card__like-button {
  background-image: url(../images/heart-like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 264px;
    height: 20px;
    padding: 8px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .card__like-button {
    max-width: 20px;
    height: 18px;
    padding: 0;
    margin: 0;
  }
}
