.card {
  margin: 0;
  }

.card__image {
  margin: 0;
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0%;
  padding: 10px;
  height: 24px;
  font-family: "Poppins-Regular";
  font-size: 20px;
  line-height: 0.8;
  }

.card__like-button {
  background-image: url(../images/heart-like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    width: fit-content;
    height: 20px;
    padding: 10px 0;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    padding: 0
  }
}
