.header {
  margin: 0;
  max-width: 100%;
  height: 46px;
  background-color: #fff;
  opacity: 80%;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-bottom: 1px;
  }

.header__logo {
  width: 94px;
  height: 26px;
  padding: 10px 0;
}
