.modal {
  position: fixed;
  max-width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(21, 21, 21, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s linear;
}

.modal__container {
  background-color: #fff;
  padding: 32px;
  max-width: 730px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__close-button {
  background-image: url(../images/Close-icon.svg);
  background-color: white;
  opacity: 40%;
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
}

.modal__close-button_type_preview {
  background-image: url(../images/preview-close-white.svg);
  top: 0;
  right: -52.5px;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  opacity: 1;
}

.modal__close-button:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__close-button_type_preview:hover {
  background-color: #212121;
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 32px;
  width: 169px;
  height: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  max-width: 630px;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
  padding: 16px 12px;
  cursor: pointer;
}

.modal__input:hover {
  border-color: rgb(33, 33, 33);
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__submit-button {
  width: 156px;
  background-color: #212121;
  padding: 18px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  border-radius: 8px;
  padding: 18px 32px;
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 80%;
}

.modal__preview-container {
  position: relative;
}

.modal__preview-image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__preview-caption {
  color: #fff;
  background-color: #212121;
  max-width: fit-content;
  max-height: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font: size 20px;
    margin: 10px 0 32px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-button {
    width: 100%;
  }
}
