.page {
  margin: 0;
  width: 1440px;
  height: 1418px;
  background-color: #fcf5e5;
  background-position: center;
  min-height: 100vh;
}

.profile__page-section {
  max-width: 1280px;
  margin: 0 auto;
}
