.page {
  margin: 0;
  max-width: 1440px;
  background-color: #fcf5e5;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  font-family: "Poppins-Regular", Arial, Helvetica, sans-serif;
}

.page__section {
  margin: 0;
}
