.profile {
  display: flex;
  align-items: flex-end;
  padding: 34px 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avitar {
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 190px;
  height: 190px;
  object-position: center;
}

.profile__column {
  display: flex;
  flex-direction: column;
  width: 505px;
  height: 190px;
}

.profile__name {
  margin: 0 0 12px;
  width: 420px;
  height: 32px;
  color: #212121;
  font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.profile__description {
  margin: 0;
  width: 97px;
  height: 16px;
  color: #212121;
  opacity: 70%;
  font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-button {
  margin-top: auto;
  width: 115px;
  height: 20px;
  display: flex;
  align-items: center;
  border: none;
  color: #212121;
  opacity: 70%;
  font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
}

.profile__add-post-button {
  width: 149px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
  border-radius: 8px;
  margin-left: auto;
}
