.profile {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  padding: 34px 0 20px;
}

.profile__avatar {
  margin: 0;
  width: 190px;
  height: 190px;
  object-position: center;
  margin-right: 20px;
  border-radius: 6px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 420px;
  height: 190px;
}

.profile__name {
  margin: 0 auto 12px;
  font-weight: 500;
  color: #212121;
  font-size: 32px;
  line-height: 1;
  line-clamp: 3;
  /* There seems to be an arbitary disagreement between MDN and BigTech Google Dev Inspector over the legitimacy of the line-clamp porperty below to which I
   do not have the power to settle. However, from my perspective WITHOUT the property it it creates a KNOWN error in this CSS with MDN and prettier also agrees
   and marks the error. Therefor my submission would be auto-rejected.  With the property in, it creates an error in the developer inspector, however they have finally
   included the definition, instead of "unknown" which in my view is an admission that it is valid! I am leaving it in with this comment*/
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0 auto 0 0;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  /* There seems to be an arbitary disagreement between MDN and BigTech Google Dev Inspector over the legitimacy of the line-clamp porperty below to which I
   do not have the power to settle. However, from my perspective WITHOUT the property it it creates a KNOWN error in this CSS with MDN and prettier also agrees
   and marks the error. Therefor my submission would be auto-rejected.  With the property in, it creates an error in the developer inspector, however Google has finally
   included the definition, instead of "unknown", which in my view is an admission that it is valid! I am leaving it in, with this comment*/
  line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  border: none;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  gap: 8px;
  background-color: transparent;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile__edit-button-icon {
  width: 18px;
  height: 16px;
  border: none;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-post-button {
  margin-left: auto;
  width: 149px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
  border-radius: 8px;
  padding: 20px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile__add-post-button-icon {
  width: 12px;
  height: 12px;
}

.profile__add-post-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 884px) {
  .profile__add-post-button {
    margin: 0;
    width: auto-fit;
  }
}

@media screen and (max-width: 627px) {
  .profile {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    margin: auto 0;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    align-items: center;
    margin: 0;
    margin: 0 0 6px;
  }

  .profile__column {
    display: flex;
    justify-content: flex-start;
    max-width: 288px;
    max-height: fit-content;
  }

  .profile__name {
    max-width: 288px;
    font-size: 20px;
    font-weight: 1;
    margin: 0 0 12px;
  }

  .profile__description {
    margin: 0 auto 0;
    font-size: 16px;
    font-weight: 1;
    max-width: 288px;
  }

  .profile__edit-button {
    margin: 32px 0 20px;
    width: 100%;
    display: flex;
    gap: 8px;
  }

  .profile__add-post-button {
    margin: 0;
    width: 100%;
  }
}
